/* src/main/resources/css/Login/Button.css */
.custom-style {
    -fx-background-color: #C56E33; /* Màu nền */
    -fx-background-radius: 12px; /* Bo tròn góc */
    -fx-text-fill: #FFFFFF; /* Màu chữ */
}

.custom-style:hover {
    -fx-background-color: #FFFFFF;/* Màu nền khi hover */
    -fx-text-fill: #C56E33; /* Màu chữ khi hover */
}