.custom-style {
    -fx-text-fill: #973F04; /* Màu chữ */
    -fx-font-family: "Montserrat"; /* Font chữ */
    -fx-font-size: 14px; /* Kích thước font */
    -fx-font-style: normal; /* Kiểu chữ (thường) */
    -fx-font-weight: bold; /* Độ đậm của font */
    -fx-line-height: 16.8px; /* Chiều cao dòng */
}
