.custom-style {
    -fx-background-color: #FFFFFF; /* Màu nền */
    -fx-border-color: #E8E8E8; /* Màu viền */
    -fx-border-width: 1px; /* Độ dày viền */
    -fx-border-radius: 12px; /* Bo tròn góc của viền */
    -fx-background-radius: 12px; /* Bo tròn góc của nền */
}
